.loginpage{
    width: 420px;
    background: rgba(0, 0, 0, 0.7) ;
    border: 2px solid rgba(255,255,255,0.2);
    color: #00C853;
    border-radius: 10px;
    padding: 30px 40px;
    align-content: stretch;
}

.loginpage h1{

    font-size: 36px ;
    text-align: center;
    
}

.loginpage .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
   border: 2px solid rgba(255,255,255,0.2);
    outline:none;
    
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
    
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    

}
.loginpage .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: white;
    
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 4px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.loginpage button{
    width: 100%;
    height:45px;
    background: #00C853;
    border: none;
    outline:none;
    border-radius: 40px;
    box-shadow:  0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight: 700px;
}

.loginpage button:hover {
    background-color: #00e676;
    /* light green hover */
    color: white;
}
.loginpage .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin :20px 0 15px;

}

.register-link p{
    color: white;
}

.register-link p a {
    color: #BBDEFB;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
    
}

.eye-icon {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    /* white so that it's visible */
    font-size: 18px;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    margin-bottom: 20px;
    
}

.login-logo {
    height: 100px;
    width: 100px;
}